@model IEnumerable<Drink>

@{      ViewData["Title"] = "Drink Menu";
}

<div class= "row">

    <div class="col-mid-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.</th>
                </tr>
            </thead>
        </table>


    </div>

</div>